@import url('styles.css'); /* Importă stilurile generale */

/* Stiluri pentru secțiunea contact */
#contact {
    background: white;
    color: #003366;
    width: 60%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #003366;
    border-radius: 5px;
    margin-top: 5px;
}

button {
    background-color: #cc0000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #ff6666;
}
