#cos-meniu {
    background-color: #ff0000; /* Fundal roșu pentru coș */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: 300px;
    position: absolute;
    top: 50px;
    right: 20px;
    display: block; /* Asigură-te că este vizibil */
    z-index: 1000;
    color: white;
}

#cos-lista {
    margin-bottom: 20px;
}

.cos-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cos-item img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

button {
    background-color: #007bff; /* Albastru pentru butoane */
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

#sterge-tot, #cumpara {
    background-color: #007bff; /* Albastru */
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 100%;
    display: none; /* Ascunde inițial butonul „Șterge tot din coș” */
}

#sterge-tot:hover, #cumpara:hover {
    background-color: #0056b3; /* Albastru mai închis la hover */
}
