/* Fundal albastru inchis pentru intregul site */
body {
    background-color: #003366; /* Albastru închis */
    color: white; /* Textul va fi alb pentru a face contrast cu fundalul */
    font-family: Arial, sans-serif; /* Font general */
}

/* Fundal roșu pentru header */
header {
    background-color: #cc0000; /* Roșu */
    padding: 10px 0;
    text-align: center;
}

/* Stiluri pentru navigație */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

nav ul li a:hover {
    color: #ffcc00; /* Culoare galbenă când treci cu mouse-ul peste link */
}

/* Stiluri pentru butoane */
button {
    background-color: #cc0000; /* Roșu pentru buton */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #ff6666; /* Roșu mai deschis când treci cu mouse-ul peste */
}

/* Fundal pentru footer */
footer {
    background-color: #003366; /* Albastru închis pentru footer */
    color: white;
    text-align: center;
    padding: 10px;
}

/* Stiluri pentru sectiuni */
section {
    padding: 20px;
    text-align: center;
}