/* Fundal general */
body {
    background-color: #003366;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Stiluri pentru header */
header {
    background-color: #cc0000;
    padding: 15px 0;
    text-align: center;
}

/* Navigație */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

nav ul li a:hover {
    color: #ffcc00;
}

/* Footer */
footer {
    background-color: #002244;
    text-align: center;
    padding: 10px;
}

